</head>
	<body>	
		
	
	<div align="center"><h2>DATA NABI DAN RASUL</h2>
	<a href="/"> HOME</a><br>Cari Nama Nabi/Rasul: <input type="text" id="nama_nabi_atau_rasul"> *enter untuk mencari<br>
	</div>
	<div align="center" id="data-container"></div>
	<div class="pag-con" id="pagination-container"></div>


	</body>
</html>
